html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Monument Extended", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* nav  */

.menu {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.menu-item {
  flex: 1;
  cursor: pointer;
}

.menu-left {
  text-align: left;
}

.menu-center {
  text-align: center;
}

.menu-right {
  text-align: right;
}


.menu-link {
/*  padding: 0 30px;*/
  font-weight: 500;
  text-transform: lowercase;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
}

.menu-link::before,
.menu-link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.menu-link::before {
    content: '';
    /* show by default */
}


.menu-link::before {
    height: 10px;
    top: 100%;
    opacity: 0;
}

.menu-link:hover::before {
    opacity: 1;
    animation: lineUp 0.3s ease forwards;
}

@keyframes lineUp {
    0% {
        transform-origin: 50% 100%;
        transform: scale3d(1, 0.045, 1);
    }

    50% {
        transform-origin: 50% 100%;
        transform: scale3d(1, 1, 1);
    }

    51% {
        transform-origin: 50% 0%;
        transform: scale3d(1, 1, 1);
    }

    100% {
        transform-origin: 50% 0%;
        transform: scale3d(1, 0.045, 1);
    }
}

.link::after {
    content: '';
    transition: opacity 0.3s;
    opacity: 0;
    transition-delay: 0s;
}

.link:hover::after {
    opacity: 1;
    transition-delay: 0.3s;
}

.home {
  width: 100%;
/*  margin: 0 0 0 70px;*/
}

#description {
  background-color: white;
  width: 100%;
  height: 100px;
  padding-right: 100px;
  text-align: center;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  grid-auto-rows: minmax(100px, auto);
  margin: 0 auto;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

img {
  width: 70%;
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

