html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Monument Extended", sans-serif;
}

/* nav  */

.menu {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.menu-item {
  flex: 1;
}

.menu-left {
  text-align: left;
}

.menu-center {
  text-align: center;
}

.menu-right {
  text-align: right;
}

.menu-link {
  padding: 0 30px;
}

.home {
  width: 100%;
  margin: 0 0 0 70px;
}

.description {
  width: 100%;
  height: 300px;
}

.container {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  grid-auto-rows: minmax(100px, auto);
  margin: 0 auto;
  }

img {
  width: 80%;
}

